/.vs
/build*
contrib/*/build*
CMakeSettings.json
docs/aidocs/*
docs/gamedocs/*
docs/source/*
/out
/vcpkg_installed

.DS_Store
.cursor
.vscode

dev.sh
.git.local
.cache
.old

src/3rdparty/extras/*.tar
